<div class="col-lg-6">
<h3>Realtime live event results</h3>
<h4>Latest event results</h4>
<p ng-show="failed">Could get information. <a href="" ng-click="fetch()">Click to reload</a></p>
<div class="sk-circle" ng-show="spinner">
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div>
<button ng-hide="spinner" class="btn btn-success btn-lg btn-block" ng-click="detail(race)" style="cursor:pointer !important"  ng-repeat="race in races">{{race[1]}}, {{race[2] | amDateFormat:'MMMM Do YYYY'}}</button>
</div>
